.btn_confirm
    padding 16px 35px
    background #49BA63
    border-radius 15px
    color white
    font-size 17px
    transition .4s ease all
    cursor pointer

    &:hover
        font-size 19px
        transition .4s ease all
