.btn_choose
    width 150px
    padding 10px
    background #0A3B5C
    border none
    border-radius 15px
    text-align center
    color white
    text-transform uppercase
    transition .4s ease all
    cursor pointer

    &.-active
        background #4FB99F

    &:hover
        transition: .4s ease all
        background-color #4FB99F
        color white
